<div class="dashboard-cards">
  @let patients = (patients$ | async);
  <app-card>

    <h2>Total Patients</h2>

    <p>{{patients?.length}}</p>

  </app-card>

  @let doctors = (doctors$ | async);
  <app-card>

    <h2>Total Doctors</h2>

    <p>{{doctors?.length}}</p>

  </app-card>

  @let appointments = (appointments$ | async);
  <app-card>

    <h3>Total Appointments</h3>

    <p>{{appointments?.length}}</p>

  </app-card>

</div>

<div class="charts-container">

  <div class="chart-card">
    <h3>Patients by Department</h3>
    <canvas #patientsChart></canvas>
  </div>

  <div class="chart-card">
    <h3>Appointment Status</h3>
    <canvas #appointmentChart></canvas>
  </div>

  <div class="chart-card">
    <h3>Billing Analytics</h3>
    <canvas #billingChart></canvas>
  </div>

</div>