<div class="sidebar">
  <div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link active" type="button" role="tab" routerLink="dashboard" routerLinkActive="active">
        <img src="assets/images/hospital-home.png" alt="home">Dashboard</button>
      <button class="nav-link" type="button" role="tab" routerLink="patients" routerLinkActive="active"><img
          src="assets/images/patients.png" alt="patients">Patients</button>
      <button class="nav-link" type="button" role="tab" routerLink="doctors" routerLinkActive="active"><img
          src="assets/images/doctors.png" alt="doctors">Doctors</button>
      <button class="nav-link" type="button" role="tab" routerLink="departments" routerLinkActive="active"><img
          src="assets/images/departments.png" alt="departments">Departments</button>
      <button class="nav-link" type="button" role="tab" routerLink="appointments" routerLinkActive="active"><img
          src="assets/images/appointments.png" alt="appointments">Appointments</button>
      <button class="nav-link" type="button" role="tab" routerLink="billing" routerLinkActive="active"><img
          src="assets/images/billing.png" alt="billing">Billing</button>
    </div>
  </div>
</div>